// В этом файле должны быть стили для БЭМ-блока slider-form, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.slider-form__wrap {
  max-width: 320px;
  background: #fff;
}

.slider-form {
  
  padding: 30px;

  $block-name:                &; // #{$block-name}__element

  &__title {
    margin: 0;
  }
  &__caption {
    margin-bottom: 1.6em;
  }

}
