// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-header {

  $block-name:                &; // #{$block-name}__element
  background: #fff;
  position: relative;
  z-index: 10;

  &__inner {
    @include container;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    @media (max-width: $screen-lg) {
      flex-direction: column;
    }
  }

  .logo {
    @media (max-width: $screen-lg) {
      margin-bottom: 10px;
    }
  }

  .main-nav__toggler.burger {
    position: absolute;
    top: 15px;
    right: 15px;
  }

  .filial-info {
    @media (max-width: $screen-lg) {
      margin-bottom: 15px;
    }
    @media (max-width: $screen-md) {
      flex-direction: column;
      text-align: center;
    }
  }

  &__nav {
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
    .main-nav {
      @include container;
    }
  }

}
