// В этом файле должны быть стили для БЭМ-блока filial-info, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.filial-info {

  $block-name:                &; // #{$block-name}__element
  display: flex;

  &__item {
    padding: 0.5em 2em;
  }

  &__item-title {
    margin-top: 0;
    margin-bottom: 0.5em;
  }

  p {
    margin-top: 0;
  }

}
