// В этом файле должны быть стили для БЭМ-блока services-list, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.services-list {

  $block-name:                &; // #{$block-name}__element

  @include row;

  &__card {
    @include col();
    @include col(lg,4);
    @include col(md,4);
    @include col(sm,6);
    @include col(xs,12);
    margin-bottom: 30px;
  }

  &__link {
    display: block;
    position: relative;

    img {
      display: block;
    }

    &:before {
      content: "";
      position: absolute;
      top:0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.6);
      transition: all $transition-time;
    }

    &:hover {
      &:before {
        background: rgba(46, 52, 108, 0.9);
      }
    }

  }

  &__title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    width: 95%;
    text-align: center;
    line-height: 1.2;
    font-size: 24px;
    @media (max-width: ($screen-xl - 1)) {
      font-size: 18px;
    }
  }

}
