// В этом файле должны быть стили для БЭМ-блока form-feedback, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.form-feedback {

  $block-name:                &; // #{$block-name}__element

  @include row;

  &__field {
    @include col();
    @include col(lg,4);
    margin: 0;
  }

  &__caption {
    text-align: center;
    color: #fff;
    a {
      color: #fff;
    }
  }

}
