// В этом файле должны быть стили для БЭМ-блока main-slider, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.main-slider {
  $block-name: &; // #{$block-name}__element

  &__wrap {
    position: relative;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.4);
      transition: all $transition-time;
    }
  }

  &__inner {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 440px;
    z-index: 2;

    .slider-form__wrap {
      position: absolute;
      right: 100px;
      z-index: 3;
    }

    .slide-caption {
      padding-right: 400px;
      padding-left: 100px;
    }
    @media (max-width: $screen-lg) {
      flex-direction: column;
      min-height: auto;

      .slider-form__wrap {
        position: static;
      }

      .slide-caption {
        padding: 0;
        text-align: center;
      }
    }
  }

  .owl-nav .owl-next,
  .owl-nav .owl-prev {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 50%;
    transform: translateY(-50%);

    svg {
      stroke: #fff;
    }
  }

  .owl-nav .owl-prev {
    left: 0;
  }

  .owl-nav .owl-next {
    right: 0;
  }

  .owl-nav.disabled+.owl-dots {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
  }

  .owl-dots .owl-dot {
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 30px;
    margin: 5px;
    zoom: 1;
  }

  .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 3px;
    background: transparent;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 0.2s ease;
    border-radius: 30px;
  }

  .owl-dots .owl-dot:hover span {
    background: rgba(46, 52, 108, 0.4);
  }

  .owl-dots .owl-dot.active span {
    background: #fff;
  }
}
